#Wed Feb 21 13:35:11 CET 2018
scalaVersion=2.12.4
name=teoriainformazione-test
classesDir=/home/lorenzo/scala/teoriaInformazione/target/scala-2.12/test-classes
fork=true
classpath=/home/lorenzo/scala/teoriaInformazione/target/scala-2.12/classes,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-library.jar,/home/lorenzo/.ivy2/cache/com.lihaoyi/utest_2.12/jars/utest_2.12-0.6.0.jar,/home/lorenzo/.ivy2/cache/org.scala-lang/scala-reflect/jars/scala-reflect-2.12.3.jar,/home/lorenzo/.ivy2/cache/org.scala-sbt/test-interface/jars/test-interface-1.0.jar
javaHome=/usr/lib/jvm/java-8-openjdk-amd64/jre
baseDirectory=/home/lorenzo/scala/teoriaInformazione
tmp=/home/lorenzo/scala/teoriaInformazione/target/tmp-bloop
scalacOptions=
javaOptions=
allScalaJars=/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-xml_2.12.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-library.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/jline.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-compiler.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-reflect.jar
dependencies=teoriainformazione
sourceDirectories=/home/lorenzo/scala/teoriaInformazione/src/test/scala-2.12,/home/lorenzo/scala/teoriaInformazione/src/test/scala,/home/lorenzo/scala/teoriaInformazione/src/test/java,/home/lorenzo/scala/teoriaInformazione/target/scala-2.12/src_managed/test
javacOptions=
scalaOrganization=org.scala-lang
testFrameworks=org.scalacheck.ScalaCheckFramework;org.specs2.runner.Specs2Framework,org.specs2.runner.SpecsFramework;org.specs.runner.SpecsFramework;org.scalatest.tools.Framework,org.scalatest.tools.ScalaTestFramework;com.novocode.junit.JUnitFramework;utest.runner.Framework
scalaName=scala-compiler
