#Wed Feb 21 13:35:11 CET 2018
scalaVersion=2.12.4
name=teoriainformazione
classesDir=/home/lorenzo/scala/teoriaInformazione/target/scala-2.12/classes
fork=false
classpath=/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-library.jar
javaHome=/usr/lib/jvm/java-8-openjdk-amd64/jre
baseDirectory=/home/lorenzo/scala/teoriaInformazione
tmp=/home/lorenzo/scala/teoriaInformazione/target/tmp-bloop
scalacOptions=
javaOptions=
allScalaJars=/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-xml_2.12.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-library.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/jline.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-compiler.jar,/home/lorenzo/.sbt/boot/scala-2.12.4/lib/scala-reflect.jar
dependencies=
sourceDirectories=/home/lorenzo/scala/teoriaInformazione/src/main/scala-2.12,/home/lorenzo/scala/teoriaInformazione/src/main/scala,/home/lorenzo/scala/teoriaInformazione/src/main/java,/home/lorenzo/scala/teoriaInformazione/target/scala-2.12/src_managed/main
javacOptions=
scalaOrganization=org.scala-lang
testFrameworks=org.scalacheck.ScalaCheckFramework;org.specs2.runner.Specs2Framework,org.specs2.runner.SpecsFramework;org.specs.runner.SpecsFramework;org.scalatest.tools.Framework,org.scalatest.tools.ScalaTestFramework;com.novocode.junit.JUnitFramework;utest.runner.Framework
scalaName=scala-compiler
